.profile{
    background-color: rgb(15, 133, 74);
}

.profile:hover{
    transform:scale(1.1);
    transform-style: preserve-3d;
    transition-duration: 4s;
    color: #ffff;
    background-color: #a30222;
}

.profileimg{
    border-radius: 50%;
    border: 1px solid;
}

.profileimg img{
    width: 120px;
    height: 120px;
    border: 1px solid;
    border-radius: 50%;
    outline: 2px;
}
.profilebtn{
    width: 100px;
}

.repo{
    background-color: #7DC2AD;
}