<div class="container-fluid mb-5">

  <app-queryform (query)="searchTerm($event)"></app-queryform>
  <ng-container>

    <div class="row">

      <div class="col-md-4"></div>
      <div class="col-md-4">

        <ng-container *ngIf="userAccount">

          <h3 class="text-center mt-4 fw-bold text-decoration-underline">User</h3>
          <div class="card profile mx-auto mt-3" #userResponse>
            <div class="profileimg mx-auto mb-2 mt-3 p-1"> <img class="img-fluid " src={{userAccount.photoUrl}} alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title text-center mb-2 fw-bold">{{userAccount.userName}}</h3>
              <h5 class="card-text text-center fs-4">{{userAccount.bioMessage}}</h5>
              <p class="card-text text-center">Joined {{userAccount.dateJoined |date}}</p>
              <div class="text-center mb-5">
                <i class="fas fa-book me-2"></i>
                <span class="me-5">{{userAccount.repoNumber}}</span>
                <i class="far fa-star me-2"></i>
                <span>0</span>
              </div>

              <button class="profilebtn btn btn-outline-light d-block mx-auto"><a href={{userAccount.userUrl}}
                  target="_blank"><i class="fab fa-github text-black"></i></a></button>

            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-md-4"></div>
    </div>
    <h3 class="text-center mt-5 mb-3 fw-bolder text-decoration-underline">{{userAccount.userName}}'s Repositories</h3>
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <ng-container *ngFor="let repo of userProjects">
        <div class="col" #repoResponse>

          <div class="card repo h-100">
            <div class="card-header mb-3 head">
              <h3 class="text-center fw-bold text-white text-uppercase">{{repo.repoName}}</h3>
            </div>
            <h6 class="text-start ms-4 me-2">Description:{{repo.repoDescription}}</h6>
            <p class="text-start ms-4 me-2">Language:{{repo.language}}</p>
            <p class="text-start ms-4 me-2">forks:{{repo.forks}}</p>
            <p class="text-start ms-4 me-2">Created:{{repo.dateCreated | date}}</p>
            <p class="text-start ms-4 me-2">Last updated:{{repo.lastUpdated | update}}</p>
            <div class="card-footer mt-auto foot text-center">
              <a href={{repo.repoUrl}} class="text-center repolink fw-bold fs-6 text-decoration-none text-white" target="_blank">View in
                Github</a>
            </div>
          </div>

        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
